<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style type="text/css">
    #id1 {
            margin-left: 30%;
            background-color: linen;
            padding: 3%;
            margin-right: 30%;
        }

        #find {
            width: 50%;
            padding: 10px 0;
            margin: 10px;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
        }

      
        button {
            color: #FFF;
            font-weight: 700;
            width: 20%;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin:auto;
            
            background: blue;
            border: 0;
            outline: none;
        }
    </style>
</head>
<body>
    <div id="id1">
    <form action="/show" method="POST">
        <h1>Find a doctor according to you!!</h1>
        
        <input type="text" name="find" id="find" placeholder="Search by Location or Speciality"><br><br>
                <input type="radio" name="find_details" id="country" value="Location">Location
            <input type="radio" name="find_details" id="Speciality" value="Speciality">Speciality<br>
        <br>
        <button>submit</button>
    </div><br><br>
        
    </form>
</body>
</html>